h2.header-title {
  position: relative;
  left: 0;
}

.resume-content {
  /* padding: 10px; */
}

.resume-profile {
  margin: 0 auto;
  text-align: center;
}

.horizontalTimeline{
  height: 280px;
}

.border-section {
  height: 360px;
  margin-top: 56px;
  border: 2px solid #3c3d41;
}

.expertise-chart h2 {
  width: 70%;
  top: -7%;
  left: 15%;
}

.my-education {
  padding-top: 35px;
  padding-bottom: 10px;
}

.my-education h2 {
  width: 70%;
  top: 9%;
  left: 15%;
}

.eduYear span {
  font-weight: bold;
}

.eduPlace {
  margin: 2px 0px 30px 10px;
}

.eduPlace h5 {
  font-size: 1.15rem;
}

.work-timeline {
  /* margin-top: 30px; */
}

.clear {
  clear: both;
}

.skillCloud {
  width: 99%;
  height: 314px;
}

.skillCloud img{
  width: 99%;
  height: 314px;
}

.content{
  padding: 30px 30px 5px;
}
