<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block" [ngsReveal]="{ reset: true}" *ngFor="let obj of timeLineObj">
    <div class="cd-timeline-img cd-movie">
        <span class="cd-year">{{obj.year}}</span>
      <!-- <img src="assets/img/tcs-logo.jpeg" width="60" height="60" alt="Picture"> -->
    </div>
    <!-- cd-timeline-img -->
    <div class="cd-timeline-content">
      <div class="content">
        <h2>{{obj.headerTitle}}</h2>
        <ul>
          <li *ngFor="let work of obj.workList">
           {{work}}
          </li>
        </ul>
        <div class="row">
          <div class="skills col-12 col-lg-7">
            <div class="row col-3 circleBar pull-left" *ngFor="let skill of obj.skills">
              <app-circle-progress [name]="skill.name" [value]="skill.value" [semic]="true"></app-circle-progress>
            </div>
            <!-- <div class="row col-3 circleBar pull-left">
              <app-circle-progress [name]="'HTML/CSS'" [value]="'30'" [semic]="true"></app-circle-progress>
            </div>
            <div class="row col-3 circleBar pull-left">
              <app-circle-progress [name]="'JAVA'" [value]="'20'" [semic]="true"></app-circle-progress>
            </div>
            <div class="row col-3 circleBar pull-left">
              <app-circle-progress [name]="'JAVA'" [value]="'20'" [semic]="true"></app-circle-progress>
            </div> -->
            <div class="clear"></div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- cd-timeline-content -->
  </div>
  <!-- cd-timeline-block -->
</section>
<!-- cd-timeline -->
