<div class="header-container">
  <div class="container">
    <div class="container col-lg-7 col-12 header-info">
      <h1>Aditya Shaw</h1>
      <div class="header-underline"></div>
      <p class="lead">
        <strong>
          Angular Developer
        </strong>
      </p>
    </div>
    <div class="container col-lg-2 col-6">
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-lg fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
