<div class="header-container">
  <div class="">
    <div class="container col-lg-7 col-12 header-info">
      <h1>Aditya Shaw</h1>
      <div class="header-underline"></div>
      <p class="lead">
        <strong>
          Angular Developer
        </strong>
      </p>
      <p class="personal-info">
        <span>
          <i class="fa fa-phone" aria-hidden="true"></i> +91-9008154238
        </span>
        <span>
          <i class="fa fa-envelope" aria-hidden="true"></i> aditya.s.shaw@gmail.com
        </span>
        <span>
          <i class="fa fa-briefcase" aria-hidden="true"></i> JPMorgan Chase & Co.
        </span>
        <span>
          <i class="fa fa-map-marker" aria-hidden="true"></i> Bangalore, India
        </span>
      </p>
    </div>
    <div *ngIf="removeSocial" class="container col-lg-2 col-6">
      <div class="social">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-lg fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lg fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
